.bad {
color: red;
text-align: center;
}

.red {
  color: #FF00F3;
}

img.swift {
  width: 25%;
  height: 25%;
  border-radius: 50%;

}

img.swift:hover {
  transform: scale(0.9);

}

body {
  background-color: #75FF19;
  color: #FF8100;

}
